---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "zh-CN" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <!--div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}"-->
    <div class="hero lazyload" data-bg="//anky.cc/apps">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.headtitle | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div>
   <!--注释掉资讯内容
    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            {% include pagination.html %} 
          </div>
        </div>
      </section>
    </main>
    -->
    <main class="site__content">
      <div class="container">
        <div class="page-content">
          <h1 class="hero__title" align="center"> 我们的服务 </h1>
          <p> 保持车辆处于最佳状态比想象的要容易！无论您是需要保持干净美观的外表，还是想在人迹罕至的地方享受更好的便利,等等,我们都能满足您的要求。公司专门制造专车专用汽车脚垫,尾箱垫,专车模制挡泥板,以及其他各种产品。可提供保护车辆内部和外部所需的一切,产品均经过精心设计和制造,因此您可以获得产品最高质量、样式和耐用性。 每个产品在经过KONETA最严格的测试和质量控制检查。因此,KONETA产品的使用者不再需要担心车辆的内部整洁问题。同时，公司拥有线下服务商，门店提供汽车精洗、贴膜、改色、改装、隐形车衣等等服务。以独特的方式为客户提供汽车美容养护！Koneta洗护技术为您的爱车提供了关注和细节，为您的爱车提供了便利。Koneta提供随时待命的快速细节，每天提供更全面的五星级服务。 </p>

        <div class="post-list">
          
          <div class="post-card"> 
            <span class="post-card__label"> </span> 
            <div class="post-card__inner">
              <div class="post-card__header">
                <h2>车身清洁</h2>
              </div>
              <p>快洗、洁癖精洗、发动机清洗、内饰清洗等。</p>
            </div>
          </div>

          <div class="post-card"> 
            <span class="post-card__label"> </span> 
            <div class="post-card__inner">
              <div class="post-card__header">
                <h2>汽车贴膜</h2>
              </div>
              <p>防爆膜、车身改色膜、大灯熏黑膜、车衣、高隔热太阳膜</p>
            </div>
          </div>

          <div class="post-card"> 
            <span class="post-card__label"> </span> 
            <div class="post-card__inner">
              <div class="post-card__header">
                <h2>汽车美容</h2>
              </div>
              <p>抛光、打蜡、封釉、镀膜、镀晶、烤瓷、液体玻璃等。</p>
            </div>
          </div>

        </div>

        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
