---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "zh-CN" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <!--div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}"-->
    <div class="hero lazyload" data-bg="//anky.cc/apps">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.headtitle | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div>
   <!--注释掉资讯内容
    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            {% include pagination.html %} 
          </div>
        </div>
      </section>
    </main>
    -->
    <main class="site__content">
      <div class="container">
        <div class="page-content">
          <h1 class="hero__title"> My Expertise </h1>
          <p> Bicycle rights irony actually neutra typewriter lyft. Man bun taxidermy put a bird on it, umami yr ramps pop-up ugh bushwick chia lo-fi. Occupy bitters pour-over snackwave you probably haven't heard of them small batch. Cornhole mustache man bun letterpress echo park VHS. </p>

        <div class="post-list">
          <div class="post-card__header">
          <h2>Design</h2>
          <i class="devicon-html5-plain-wordmark"></i>
          <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p>
          </div>
          <div class="post-card__header">
          <h2>Design</h2>
          <i class="devicon-html5-plain-wordmark"></i>
          <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p>
          </div>
          <div class="post-card__header">
          <h2>Design</h2>
          <i class="devicon-html5-plain-wordmark"></i>
          <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p>
          </div>
        </div>

        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
